<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link rel="shortcut icon" href="https://abrakadabra.fun/uploads/posts/2022-02/1644024588_1-abrakadabra-fun-p-sait-na-prozrachnom-fone-1.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
<h1>Мой первый блог</h1>
<h1 class="qwerty">Привет Мир</h1>
    <br>
<button><h2><a href="index.html">Главная</a></h2></button>
<button><h2><a href="https:/ /www.mobile.de/ru/">Авто с Германии</a></h2></button>
<button><h2><a href="a">Авто с Японии</a></h2></button>
<button><h2>Авто с Кореи</h2></button>
<button><h2>О нас</h2></button>
<button><h2>Контакты</h2></button>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p>It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged.</p> <p>It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <img src="https://www.kadrof.ru/sites/default/files/illustrations/blog.jpg" alt="" width="600" height="600">
</center>

</body>
</html>